html,body {
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
}

.title {
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 20px;
}

.table {
    color: white;
    font-family: verdana;
    text-align: center;
}

.table table {
    margin-left: auto;
    margin-right: auto;
}

.box {
    background-color: darkslategrey;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 800px;
    border-radius: 25px;
}